.multi-select-block{
    display:block;
}

.custom-select-dropdown{
    width: 100%;
}

.select-placeholder{
    padding: 6px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    cursor: pointer;
    color: #4d4d4d;
    position: relative;
    font-size: 14px;
    display: block;
}

.select-placeholder .selectCloseIcon{
    /*display: inline-block;*/
    float: right;
}
/* .select-placeholder:after{
    content: "\EA4F";
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 0px;
    font-size: 14px;
} */

.select-list{
    position: relative;
}

.select-container{
    position:absolute;
    width: 100%;
    z-index: 999;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%);
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    border-radius: 0 0 3px 3px;
    background: white;
}


.select-options{
    max-height: 240px;
    overflow-y: auto;
}

.select-options .accordion-body{
    padding:0
}

.select-options .accordion-header .accordion-button{
    font-size: 12px;
}

.select-options .accordion-body .dropdown-item{
    padding: 10px 12px;
    color: #566b76;
    font-size: 12px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
    text-decoration: none;
}



.checkboxWrapper, .accordianHeader{
    padding: 10px 15px;
    color: #566b76;
    font-size: 12px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
}

.accordianHeader{
    display: flex;
    align-items: center;
}

.accordianHeader .accordianToggle{
    margin-left: auto;
}


.checkboxWrapper .Checkbox-text, .accordianHeader .Checkbox-text{
    display: flex;
    align-items: center;
}

 /* .accordianHeaderCheckbox{
    position: relative;
}

.accordianHeaderCheckbox .icon-section{
    position: absolute;
    top:3px;
}

.accordianHeader .Checkbox-text .form-check-input{
    opacity:0
}

.accordianHeader .Checkbox-text .form-check-input:hover,
.accordianHeader .Checkbox-text .form-check-input:checked{
    opacity:1;
}

.accordianHeader .Checkbox-text .form-check-input:hover ~ .accordianHeaderCheckbox .icon-section{
   display:none;
} */



.checkboxWrapper label{
    margin : 0;
    font-size:10px;
  }

  .accordianHeaderCheckbox label{
    margin : 0;
    font-size:12px;
  }
  
  .checkboxWrapper input[type="checkbox"], .accordianHeaderCheckbox input[type="checkbox"]{
    margin-right: 10px;
  }

  .selected__category__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .selected__category__list .selected__category__name{
    margin: 6px 6px 0 0;
    line-height: 30px;
    max-width: calc(100% - 8px);
    display: inline-block;
  }

  .category__remove_button .button-label{
    font-size: 12px;
    margin-right: 12px;
  }